// COLORS
$black: #303030;
$orange: #e8564c;
$peach: #ff947d;
$purple: #6575ff;
$lavendar: #b8afe2;
$blue: #61d0f7;
$light-blue: #b3dbf0;

// TYPOGRAPHY
%font-main {
    font-family: "PT Sans", serif;
  	font-weight: 400;
  	font-style: normal;
} 