{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/events is
 # requested, because it is located at events/index.html in your
 # craft/templates/ folder.
 #}

{% extends "_layout" %}
{% set title = "Events" %}

{% block content %}

<div class="contain-600">

{% include "inc/_logohead" %}

	{% for entry in craft.entries.section('events').find() %}
		<article>
			<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
			<p>
				<span class="event-date"></span>{{ entry.eventDate.format('D, F d, Y') }}</p></span>
			{{ entry.body.page(1) }}
		</article>
	{% endfor %}


<aside class="gCal-container">
	<iframe class="gCal" src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=audcrecords%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " frameborder="0" scrolling="no"></iframe>
</aside>

</div>
{% endblock %}
